* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F25602;
  font-size: 62.5%;
}

img {
  position: absolute;
  width: 520px;
  left: 139px;
  top: 0;
}

 h1.page-title {
   position: relative;
   top: 100px;
   right: 155px;
   font-family: 'Advent Pro', sans-serif;
   font-size: 6.5rem;
   text-align: right;
 }

 footer {
   position: relative;
   bottom: 0;
   height: 100px;
   background-color: #000;
 }

 footer p {
   color: #fff;
   font-family: 'Cabin', sans-serif;;
   font-size: 0.9rem;
 }

 footer.iconify {
   position: absolute;
   left: 50%;
 }
