* {
  margin: 0;
  padding: 0;
}

/* Configurações gerais da página */ 
body {
  background-color: #F25602;
  font-size: 62.5%;
}

/* configuração da div principal da home */
img {
  position: absolute;
  width: 420px;
  left: 12%;
  top: 0;
}

 h1.page-title {
   position: relative;
   top: 100px;
   right: 15%;
   font-family: 'Advent Pro', sans-serif;
   font-size: 6rem;
   text-align: right;
   letter-spacing: 0.3rem;
 }

 /* Botões */
.container {
  position: absolute;
  width: 70%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  position: relative;
  background-color: #fff;
  width: 220px;
  padding: 15px;
  margin: 45px;
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

button a {
  color: #000;
  text-decoration: none;
}

button:hover {
  transform: scale(1.10);
}

/* Footer */
 footer {
  position: absolute;
  bottom: 0;
  height: 12%;
  width: 100%;
  background-color: #000;
}

.p-footer {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.icone {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}



