* {
  margin: 0;
  padding: 0;
}

/* Configurações gerais da página */ 
body {
  min-height: 100vh;
  background-color: #F25602;
  font-size: 62.5%;
}

/* configuração da div principal da home */

div.home {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}

img {
  position: absolute;
  width: 400px;
  left: 14%;
  top: 0;
}

 h1.page-title {
   position: relative;
   top: 100px;
   right: 15%;
   font-family: 'Advent Pro', sans-serif;
   font-size: 6rem;
   text-align: right;
   letter-spacing: 0.3rem;
 }

 /* Botões */
.container {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  max-width: 90%;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: #fff;
  width: 220px;
  padding: 15px;
  margin: 0 60px;
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

button a {
  color: #000;
  text-decoration: none;
}

button:hover {
  transform: scale(1.10);
}

/* Footer */
 footer {
  position: fixed;
  bottom: 0;
  height: 12%;
  width: 100%;
  background-color: #000;
}

.p-footer {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.icone {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}

/* Media queries */

@media (max-width: 1300px) {
  html {
    font-size: 80%;
  }

  div.home {
    max-width: 80%;
  }

  img {
    top: 15%;
    width: 300px;
  }

  button {
    margin: 0 10px;
    font-size: 1.2rem;
  }
}

@media (max-width: 1160px) {
  html {
    font-size: 65%;
  }

  div.home {
    max-width: 80%;
  }

  img {
    top: 55%;
    width: 250px;
  }

  h1.page-title {
    position: relative;
    top: 140px;
    right: 15%;
  }

  .container {
    top: 70%;
    max-width: 80%;
  }

  button {
    width: 160px;
    margin: 0 30px;
  }

  .p-footer {
    font-size: 1.1rem;
  }
}

@media (max-width: 954px) {
  html {
    font-size: 50%;
  } 

  div.home {
    max-width: 80%;
  }

  img {
    width: 200px;
    top: 80%;
  }

  button {
    font-size: 1.5rem;
    margin: 0 15px;
  }

  .p-footer {
    font-size: 1.4rem;
  }
}

@media (max-width: 784px) {
  div.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    top: 20%;
  }

  h1.page-title {
    text-align: center;
    left: 50%;
    top: 210px;
    transform: translateX(-50%);
  }

  .container {
    top: 50%;
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 15px;
    width: 200px;
    font-size: 1.6rem;
  }

  .p-footer {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  div.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  h1.page-title {
    font-size: 5rem;
  }
}

@media (max-width: 411px) {
  div.home {
    left: 50%;
    transform: translateX(-50%);
  }
  
  img {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 320px) {
  img {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  h1.page-title {
    top: 180px;
    font-size: 4.5rem;
  }

  .container {
    top: 50%;
  }

  button {
    margin: 10px;
  }
}

@media (min-height: 1024px) {
  div.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 350px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  h1.page-title {
    text-align: center;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
  }

  .container {
    top: 55%;
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 20px;
    width: 420px;
    font-size: 2rem;
  }

  .p-footer {
    font-size: 1.6rem;
  }
}

@media (min-height: 1366px) {
  div.home {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 450px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  h1.page-title {
    text-align: center;
    top: 470px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
  }

  .container {
    top: 55%;
    display: flex;
    flex-direction: column;
  }

  button {
    margin: 30px;
    width: 420px;
    font-size: 2rem;
  }

  .p-footer {
    font-size: 1.6rem;
  }
}


