body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-color: #F25602;
  }

  /* colors {
    laranja: #FD5B03;
    dark-orange: #F25602 ;
    green: #36B336;
  }  */

  .logo {
    width: 4rem;
    margin: 0.5rem 2rem;
  }

   
  .container {
    padding: 20px;   

    display: flex;
    align-items: center;    
  }
  
  header {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;

    font-weight: 600;    
    margin: 0.5rem 2rem;
  }
  
  .calculadora {
    width: 24.7rem;
    height:37.75rem;
    
    margin: 5rem;     
    background-color:#c4c4c4;
    box-shadow: 8px 5px 5px #9b3600
  }
  
  h1 {
    font-size:5rem;
    font-weight:bold;
    margin-block: 0rem;
    text-transform: uppercase;
      
  }

  #titulo{
    text-align: right;
    margin: 5rem;  

    display: flex;
    align-items: center;
    max-width: 573px;    
  }
 

  table{
    border-collapse: collapse; 
  }
  
  td input{
    width: 6rem;
    height: 4rem;

    background-color: #FD5B03;
    color: white;

    
    border:none;    
    font-size: 2.5rem;   
    font-weight: 600;
  }
  
  .number {
    background-color: #111111;
    border-color: #111111;
  }
  
  #tela {
    width: 24.7rem;
    height: 13rem; 

    box-sizing: border-box;
    padding: 0rem;
    border-color: #111111;   

    background-color: #111111;
    color:#ffffff;
    font-size: 2.5rem;
    opacity: 80%;
  }