body {
    font-family: 'Advent Pro', sans-serif;
    min-height: 854px;
    background-color: #F25602;
  }

  /* colors {
    laranja: #FD5B03;
    dark-orange: #F25602 ;
    green: #36B336;
  }  */

  .logo {
    width: 4rem;
    margin: 0.5rem 2rem;
  }

   
  .container {
    padding: 20px;   

    display: flex;
    align-items: center;    
  }
  
  header {
    margin: 1.75rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;

    font-weight: 600;    
    margin: 0.5rem 2rem;
  }
  
  .calculadora {
    width: 24rem; /*para o caso de separação das teclas 24.7rem e 37.75rem*/
    height:37rem;
    
    margin: 5rem;     
    background-color:#c4c4c4;
    box-shadow: 8px 5px 5px #9b3600
  }
  
  h1 {
    font-size:5rem;
    font-weight:bold;
    margin-block: 0rem;
    text-transform: uppercase;
      
  }

  #titulo{
    text-align: right;
    margin: 5rem;  

    display: flex;
    align-items: center;
    max-width: 573px;    
  }
 

  table{
    
    border:0px;
    border-collapse:collapse;
    border-spacing:0px;
  }
  
  td{
    padding:0px; 
    border-width:0px; 
    margin:0px; 
     
  }

  td input{
    width: 6rem;
    height: 4rem;

    background-color: #FD5B03;
    color: #ffffff;       
   
    /* border-color: #9b3600;
    border-style: solid;  para uma borda e separação*/
    
    border: none;
    font-size: 2.5rem;   
    font-weight: 600;
  }
  
  .number {
    background-color: #111111;
    border-color: #111111;
  }
  
  #tela {
    width: 24rem; /*para o caso de separação das teclas 24.7rem*/
    height: 13rem; 

    box-sizing: border-box;
    padding: 0rem;
    border-color: #111111;   

    background-color: #111111;
    color:#ffffff;
    font-size: 2.5rem;
    opacity: 80%;
  }