body {
    font-family: 'Roboto Mono',monospace;
    min-height: 854px;
    background-color: #FD5B03;
    text-align: center;
  }

  .logo {
    width: 4rem;
  }

  .page-title {
    width: 100% 0;
    text-align: right;
    padding-right: 1.5rem;
  }

  .questions {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .question {
    margin: 2rem;
		
  }

  .question input {
    border-radius: 6px;
    height: 3rem;
    width: 14rem;
  }

  header {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    text-align: center;
  }
  
  strong a {
    text-decoration: none;
    color: white;
    margin: 1rem 2rem;
  }
  
  h1 p {
    font-style: sans-serif;
    font-size: 3.75rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  h1 p:last-child{
    margin-top: 0;
  }

  .value {
    width: 100% 0;
    text-align: right;
    padding-right: 1.5rem;
    font-weight: bold;
  }

  .value input {
    width: 16rem;
    height: 4rem;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
    color: #FD5B03;
  }
  
  #tela {
    width: 15.5rem;
    height: 2rem;
    margin-bottom: .75rem;
  }

  button {
    background: #36B336;
    color: #ffffff;
    margin: 2rem;
    padding: 1.75rem;
    border-radius: 11px;
    text-align: center;
  }