* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* colors {
    laranja: #FD5B03;
    dark-orange: #F25602 ;
    green: #36B336;
  }  */

body {
    font-family: 'Cabin',monospace;
    min-height: 854px;
    background-color: #F25602;
  } 

header {
  display: flex;
  align-content: center; 
  justify-content: space-around;  
}

.menu{ 
  padding: 15px;  
}


.menu ul li {
  display: inline;   
  margin: 3rem 2rem;  
  align-items: center;
}

.menu ul li a{   
  padding: 20px 20px;   
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;      
} 

.logo {
    width: 6rem;    
} 

/* corpo da página */
  
.container {
    padding: 20px;   

    display: flex;
    align-items: center;    
  } 

h1 {
    font-size:5rem;
    font-weight:bold;
    margin-block: 0rem;
    margin: 5rem ;
    text-transform: uppercase;
}

#page-title{
  text-align: right;
  margin: 5rem;  

  display: flex;
  align-items: center;
  max-width: 573px;  
}


  

  
