* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* colors {
    laranja: #FD5B03;
    dark-orange: #F25602 ;
    green: #36B336;
  }  */

body {    
    font-size: 62.5%;
    background-color: #F25602;  
  } 

header {
  
  display: flex;
  align-items: center; 
  justify-content: space-around;  
 
}

.menu{ 
  font-family: 'Advent Pro', sans-serif;
  letter-spacing: 5px; 
  font-weight: 400;
}


.menu ul li {
  display: inline;   
  margin: 3rem 1rem;  
  align-items: center;
}

.menu ul li a{   
  padding: 20px 20px;   
  color: #ffffff;
  font-size: 20px;
  font-size: 1.7rem;       
} 

img {
    width: 6rem;   
    margin-left: 3rem; 
} 

/* corpo da página */
  
.container {
    position: relative;
    top: 15%;
    left: 0;
    width: 100%;
    padding: 20px;  
    display: flex;
    align-items: center;   
    justify-content: space-around; 
  } 

h1 { 
    font-size: 6.5rem;
    font-weight: bold;
    font-family: 'Advent Pro', sans-serif;     
    text-transform: uppercase;
    letter-spacing: 5px;

    margin-block: 0rem;
    margin: 5rem ;    
}

#page-title{
  text-align: right;
  /* margin: 5rem;   */

  display: flex;
  align-items: center;
  max-width: 573px;  
}


/* corpo do conversor */
.corpoConversor{
  height: 33rem;
  width: 20rem;

  font-family:'Cabin',monospace;

  margin: 5rem 3rem;
  background-color: #C4C4C4;

  margin-block: 0rem;
  margin: 5rem ;
  margin-right: 7rem;
  box-shadow: 8px 5px 5px #9b3600;
}

#fundoTela{
  height: 14rem;
  width: 20rem;  
  
  opacity: 80%;  
  background-color: #111111;  
}

.telas{
  /* background-color:aqua; */
  height: 3rem;
  width: 20rem;
  
  background-color: #111111;
  border: none;
  padding: 1rem;

  color: #ffffff;
  font-size: 2.5rem;
  text-align: right;
  font-family:'Cabin',monospace;
  
}


/*-------- botão opçóes de conversores --------- */

select {
  color:#ffffff;
  background-color: #111111;  
  
  height: 3rem;
  width: 8rem;
  margin-top: 1rem;
  margin-left: 1rem; 

  font-size: 20px;  
  font-family: 'Cabin',monospace;

  align-items: center;
  text-align-last: center;
}

option{
  border-radius: 5px;
  margin: 25px;
  text-align-last: center;

  padding: 2rem;  
}

#opConversores{
  width: 20rem;
  margin: 0;
  border-color: #111111 ;
}

/*-------- botoes do conversor --------- */
table{
  border:0px;
  border-collapse:collapse;
  border-spacing:0px;  
}

td input{
  width: 5rem;
  height: 4rem;
  font-family: 'Cabin',monospace;
  
  color: #ffffff;     
 
  font-size: 2.5rem;   
  font-weight: 600;  
}

.number{
  background-color: #111111;
  border-color: #8F3402;
}

.btn-extra{
  background-color: #FD5B03;
  border-color: #8F3402;   
}

/* Footer */
footer {
  position: absolute;
  top: 130%;
  bottom: 0;
  height: 12%;
  width: 100%;
  background-color: #000;
}

.p-footer {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.icone {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}

